h1 {
    color: black;
    text-align: center;
    margin:20px;
}

div.sample{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

main{
    margin-top: 8em;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

main > .container {
    padding: 60px 15px 60px ;
}

div.mycard{
    margin: auto; 
    width: 18rem; 

}
img{
    margin: 5px;
    border-radius: 5%;
}
a{
    text-decoration: none;
    color:black
}

